notifications:
  email: false
sudo: enabled
os: linux
language: python
cache: pip
python: 3.7-dev
env:
  global:
    - GH_REPO=Drakkar-Software/OctoBot-Channels
    - DEPLOY_BRANCH=master
    - PACKAGE_FOLDER=octobot_channels
    - secure: BDX5VpyHEOkSB2PGD3GwX+o00sr+0ZeWaN6u2bEquALCilRktMuCGuSJ+Wy+PMK2dIq5hCRFDSiLljOiYA3t5BLXfKEElX7hWK/9n3NhSVF+LJlEhJGHhAqKQtt5/g7+MB3eKsdJAQ2yMacyioYNvgf7wcN0T77s3ar6RBSCxhhPHjEk+C9scHtYSL23eW9LCYqHwsf3iq8j+bmYsv77cNZQVy90zjS1GAwpoMDIj0g7/BIiBHRiR7PRh5efGOjnntFceRCQZI/6vKI/b1DwBUKGZoutii69m+T5OELK/wm6lL9Rfj34LVR9JkgMGtbZXoLb1Ht9Mb3w6V5GtPDRgOsuPWs7Jz9kG4xUvsmnsKTjb/U2jF5lmUGuYhyC0oili8ZmC/N4rU6w4n4GbR9pgrUeb+tEyLsV71DqVLRdXLz80PUQm7esRIcLOhuYsVo6cIw7pGGLCJLpnFG4PoxHtqNeMIOtqSC+iwzxCVZCxRrRdlNAQ2WLcyDqs1GY80DGP2Gd/G6CLRupBwlNV9Qv3vFnOWYodDoUonNWy09qgZhChGl0+je/yeFyOs5BHBl8XuuiruAtRCB2MH9oce+1yK8K+Ljpdmnmw3NI+RQhOTuV5AhTi0Xj3sLt9asQgzU+NIAYhvL8w3xB6tPMxEiFP2FJWxOn7fKBwiDMwKoTpW0=
    - secure: rEcIx4CEentjtE3wCeWMAjORfVTLd3DjR9zwegSOp8Mdb2HION+9nZqXAnYFrd+XHMWP+7l+UhQ9nT/vqyAQ+anTrpms+8ML5JvDWc8whHHJyQ4ttB4Mjqa/4qcn2VGMNrzedreT+KQdtqdW49+Zoac98ph8GyasIXN2yVjM4lQB5T2jrmUz+SG8uPoBmqIh+hD8e298E+so+NxnZS0puOe8vdbaaaE88DKwvI8mQM5tfp8CKGi2v+ue5lHJYhQztAYFv40u6u/He2HQ48f2eZpoIbqmGesLEPdCUza0zmtspcfkvJEo4C6ySpz0PRHTvQcIWTFttO839oQQwWvIYXEjU7HCX/vkRNBLxdzFEffZMAy0DfBwRdQW4KT5te6fp1NXGImglM8oGS4OvFsMC96cXI0XRJ9uBEJDh4S3x6LylfVp0XIOYXBRY/LeZI5hxQ+9Kv5WFKY4gg6iMYknaQBBZeKS2UGdkum9a7nE174VGVRnTM1hg2B6iFDNle8oNZuB1Pg8YYdvtuGbHkzSDxFV+2gisMcwB3rVP5JLfw+u13zgk4uFVoCJawA0/jVUnKUup6rRZIReKm4kBeE6d0A3JZ4mGNJbP7ysWlRZeiCXj0dCrUw0HshgJqljGx1N83sgNRenwV/pwsYoj9CW1ply9Qw+zFsiQ3Mr8kKzJz8=

install:
  - python3 -m pip install -r dev_requirements.txt
  - python3 -m pip install -r requirements.txt

matrix:
  include:
    - name: "Linux - Python 3 nightly - Cython compilation"
      stage: build
      os: linux
      python: nightly
      language: python
      script:
        - python3 setup.py build_ext --inplace

    - name: "Linux - Python 3 nightly - Python sources"
      stage: test
      os: linux
      python: nightly
      language: python
      script:
        - pytest --cov=. --cov-config=.coveragerc --durations=0 -rw tests
      after_success:
        - if [ $TRAVIS_PULL_REQUEST == "false" ]; then coveralls; fi

    - name: "Linux - Python 3 nightly - Installed"
      stage: test
      os: linux
      python: nightly
      language: python
      script:
        - python3 setup.py install
        - rm -rf $PACKAGE_FOLDER
        - pytest tests

    - name: "Linux - Python 3 nightly - Deploy"
      stage: deploy
      script:
        - ls
      deploy:
        - provider: pypi
          password:
            secure: 3PbsWVHI9YmNnqiyZkKOhjcn6G/k4N8RkTK4WoWPpEehpBookiKOPjp/icVrpO0JF65nLc32jmelhpuVMXiMQbvkz3YHDd2296eSKRYbXeEWx7hAnkH1ePzZb7Un8YmwHe8WVUKMZ+lX+KiesoowmdIoApfgbiWekP9C1wyNwaNz0kwDncyfkJ6V0cqg/zFSfpMEoeocHh73rI99gz9PCMJjFoeoB1yaupCRhz7/1F/CCg4hhtYdbYVi0lcWexQ7aJ25Nkq5dIYppu/HpvdcwufF9gNC2K5DcqjvExDZ85HehkSURbbyjUVpHufzZOqOKZuBWDlc2iQaf1fN1tTuKm8DnjmpdvAEd76SpJG+Lxh0EDWTE3sksBAEqM1ol5nMu5FTqXLBzIviIJa7XVdmJD6J+7RT/MI4lcTGWK/s8iDbAtAqn9KADHO61nDBHZQK/tkDdQMWEkHs/9Y1PTBl/zpdcuwV2hw/dwsEJban4A6WeCrSyJdlmff5zfRpAEtoNyh+GCbJdVcF0bXaIZyC6azKfhW6dWVGDF6cXzuQ0uZURCwW/2wZfGkCGxOXaYKKF/LvSoKv2Wo7xw6pP/L3NK74Ysdgy+H1H1XI3lGjdjr2vglDzTcCgzrximlyjumZqeq1tAcXC3KCdvLKDIYe98rW78f6i4mJoKFLhugd7XA=
          user:
            secure: 2KlzIQmvzteG7NQHV/V8AIdUKWjCkECEpvvodIN6eQxiOB+1AtRbOqKLIjtER0hahIwhpIIXz5Lt6VpNzqRiTLA7lJshGutVOyCzAtNlJxdZ7Jkr9mQw6CV4TWXXoNuF4XMgZcmwgloCClUCBYEPgSIKmmYfSUsIA3aOz94x9+B1deEq1z9ypJURqyNsrSFaYoUfOISK+7qVkFkvvLNVyD53Kos4bcf050XOphiL9rX4iE1mjDh4xU1U0N7G5v/kt+/ppoWj/lsKFaaO7K5JBvoU21UGLM9UXNeBObNy0OqJyYj4uPEs22rXStTYUc/4HRXBjZjVylBQ9nOE/JD/l/cQ2Kdgp77T6JaLPXhfeIi0LISpbhgWgibtKfHzCxgEZNW2GbfVWPkgx8cSy5pOy9oiCpmqsX87Cg5sOxvc65hbn0b5rCpvKIhuwur4ZRKQ62RqJSvF1f7vPrcT8AqgGWg7i2Ho70Vmb32FehSL/GiF7yufjxbC0hdtq7SyrncEWJM302eVw/nqabQqSS8UAbpP4kPmazjYgzleTQf0xT8UU4KFXc1DpggFRNuRAw3LziPLhsMQTRDHdKxINueD8BcaqURGZiQ3vQjxa0YbjFhSvi29KRPDA9t485dIYClUufWzN+Z41HYFnQ5jvA79R0goGRWv7xJ1aa5S/K1s/Po=
          skip_existing: true
          skip_cleanup: true
          distributions: "sdist"
          on:
            repo: $GH_REPO
            branch: $DEPLOY_BRANCH
            tags: true
            condition: $TRAVIS_OS_NAME = 'linux'
        - provider: script
          script: docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:i686 "i686" "cp37-cp37m" "cp37"
          skip_cleanup: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'linux'"
        - provider: script
          script: docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:x86_x64 "x86_64" "cp37-cp37m" "cp37"
          skip_cleanup: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'linux'"
